/* Place CSS styles here */

body {
  background-image: url("/img/stormtrooper.jpg");
  background-color: olive;
  font-family: 'EB Garamond', serif;
} 

h1 {
  font-family: 'Oswald', sans-serif;
  display:flex;
  justify-content: center;
}
.primary-button{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: lightpink ;
    background-color: black;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 1s ease;
}

.primary-button:hover {
  color: black;
  background-color: lightpink;
}
.primary-button:focus {
    background: yellow;
    color: red;
}
.primary-button:disabled {
  background:purple;
  color: orangered;
}


.secondary-button{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: lightblue ;
  background-color: black;
  border: 1px solid black;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 1s ease;
}
.secondary-button:hover {
color: black;
background-color: lightblue;
}
.secondary-button:focus {
  background: yellow;
  color: red;
}
.secondary-button:disabled {
  background:purple;
  color: orangered;
}


.error-button{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: lightsalmon ;
  background-color: black;
  border: 1px solid black;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 1s ease;
}

.error-button:disabled {
  background:purple;
  color: orangered;
}

.a:hover {
  background:black;
  color: aqua;
}
.a:focus {}
.a:visited {}
.a:disabled {}

.label for="name":hover{}
.label for="comments":hover{}
:focus
:disabled
has an error
has an error and :hover
has an error and :focus

/* Fake border that doesn't effect the size*/
/* test it by tabbing*/ 
.primary-button:focus {
  box-shadow: 0 0 0 4px aqua;
} 

.secondary-button:focus {
  box-shadow: 0 0 0 4px palevioletred;
} 

.error-button:focus {
  box-shadow: 0 0 0 4px lightgreen;
} 

@media screen and (max-width: 767px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    font-size: 14px;
  }
}




@media screen and (min-width: 480px) {
  body {
    background-color: rgb(238, 219, 111);
  }
}

.buttons {
  display: flex;
}

@media screen and (max-width: 767px) {
  .buttons {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    flex-direction: row;
  }
}
